<!DOCTYPE html>
<html>

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Details</title>

<link rel="stylesheet" href="details.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

</head>

<body>

	<div class="main-content">

		<div class="details-section">

			<div class="details-title-row">
				<h1>Avengers</h1>
				<p>2012</p>
				<label> <span><i class="fa fa-star"
						aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
						class="fa fa-star" aria-hidden="true"></i><i
						class="fa fa-star-half-o" aria-hidden="true"></i><i
						class="fa fa-star-o" aria-hidden="true"></i></span>
				</label> <label> <span>Ratethis</span> <span><i
						class="fa fa-star-o" aria-hidden="true"></i><i
						class="fa fa-star-o" aria-hidden="true"></i><i
						class="fa fa-star-o" aria-hidden="true"></i><i
						class="fa fa-star-o" aria-hidden="true"></i><i
						class="fa fa-star-o" aria-hidden="true"></i></span>
				</label>

			</div>

			<div class="details-row">
				<p>PG-13</p>
				<i class="fa fa-diamond" aria-hidden="true"></i>
				<p>141 min</p>
				<i class="fa fa-diamond" aria-hidden="true"></i>
				<p>Action, Adventure, Sci-Fi</p>
				<i class="fa fa-diamond" aria-hidden="true"></i>
				<p>2015-05-01</p>
			</div>

			<div class="details-main">
				<div class="details-image">
					<img
						src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg">
				</div>


				<div class="details-side">
					<label> <span><i class="fa fa-trophy"
							aria-hidden="true"></i></span>
					</label> <span>1 win & 12 nominations.</span> <span>English</span>
					<div class="details-row">
						<p>When Tony Stark and Bruce Banner try to jump-start a
							dormant peacekeeping program called Ultron, things go horribly
							wrong and it's up to Earth's Mightiest Heroes to stop the
							villainous Ultron from enacting his terrible plans.</p>
					</div>

					<div class="details-row">
						<div class="imp-person">
							<label> <span>Director:</span>
							</label>
						</div>
						<p>Joss Whedon</p>
						<div class="imp-person">
							<label> <span>Writers</span>
							</label>
						</div>
						<p>Joss Whedon (screenplay), Zak Penn (story), Joss Whedon
							(story)</p>
					</div>

					<div class="details-row">
						<div class="imp-person">
							<label> <span>Starring</span>
							</label>
						</div>
						<p>Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris
							Evans</p>
					</div>

				</div>
			</div>


			<div class="details-row">

				<label> <span>Metascore:</span></label> 
					<p>66</p>
				<label> <span>ImdbRating:</span>
				</label>
				<p>7.6</p>
				<label> <span>Votes:</span>
				</label>
				<p>370909</p>

			</div>

			<div class="review-row"></div>


		</div>

	</div>

</body>

</html>