@CHARSET "ISO-8859-1";

nav {
	width: 100%;
}

#upper-nav {
	width: 100%;
}

body {
	background-color: #F7EDFA;
}

#logo {
	float: left;
	background-image: url('images/MovieflixLogo.png'),
		radial-gradient(blue 15%, grey 75%);
	width: 125px;
	height: 75px;
	background-size: cover;
}

#search {
	float: left; background-color : #fffbf8;
	padding: 13px;
	width: 335px;
	margin: 0px 0px 0px 300px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 6px;
	-webkit-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83), 0 10px 15px 0
		rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55)
		inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
	-moz-box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83), 0 10px 15px 0
		rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55)
		inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
	box-shadow: 0 2px 4px 0 rgba(72, 72, 72, 0.83), 0 10px 15px 0
		rgba(126, 126, 126, 0.12), 0 -2px 6px 1px rgba(199, 199, 199, 0.55)
		inset, 0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
	background-color: #fffbf8;
}

#search input {
	background-image: url('searchicon.png');
	width: 250px;
	-webkit-transition: width 0.2s ease-in-out;
	transition: width 0.2s ease-in-out;
	height: 30px;
	padding-left: 15px;
	border-radius: 6px;
	border: none;
	color: #0F0D0D;;
	font-weight: 500; background-color : #E2EFF7;;
	-webkit-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0
		#fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0
		#f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
	-moz-box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0
		#fff, 0 2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0
		#f2f2f2 inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
	box-shadow: 0 -2px 2px 0 rgba(199, 199, 199, 0.55), 0 1px 1px 0 #fff, 0
		2px 2px 1px #fafafa, 0 2px 4px 0 #b2b2b2 inset, 0 -1px 1px 0 #f2f2f2
		inset, 0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
	background-color: #E2EFF7;
}

#search i {
	opacity: 0.5;
	padding-left: 15px;
	font-size: 25px;
	color: grey;
}

#user {
	margin: 0px 0px 0px 0px;
	float: right;
}

#user i {
	float: left;
	font-size: 50px;
	color: grey;
}

#user p {
	float: right;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 5px 15px;
	color: grey;
}

#bottom-nav {
	padding: 10px 0px 0px 0px;
	clear: left;
}

#browse {
	clear: left;
	margin: 0;
	padding-left: 50px;
	color:black;
}

#browse li {
	float: left;
	border: 1px solid black;
	opacity: 0.7;
	width: 15%;
	list-style: none;
	
}

#browse li a {
	background: black;
	display: block;
	padding: 5% 12%;
	font-weight: bold;
	font-size: 18px;
	color:grey;
	text-decoration: none;
	text-align: center;
	opacity: 0.7;
}

#sort {
	float: right;
}

#sort i {
	float: left;
	color: grey;
}

#sort p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 5px;
	float: right;
	color: grey;
}

#images {
	clear: left;
	width: 1700px;
}

.preview-poster {
	float: left;
}

.preview-poster img {
	width: 291px;
	height: 432px;
	margin: 15px 15px 15px 15px;
}