<ul>

  <li><a href="form-register.html">Register</a></li>
  <li><a href="form-login.html" class="active">Login</a></li>

</ul>


<div class="main-content">

  <!-- You only need this form and the form-login.css -->

  <form class="form-login" (ngSubmit)="onSubmit()" #userLoginForm="ngForm" method="post" action="#">

    <div class="form-log-in-with-email">

      <div class="form-white-background">

        <div class="form-title-row">
          <h1>Log in</h1>
        </div>

        <div class="form-row">
          <label> <span>Username</span> <input [(ngModel)]="username" type="text" name="username" required>
          </label>
        </div>

        <div class="form-row">
          <label> <span>Password</span> <input [(ngModel)]="password" type="password"
                                               name="password" required>
          </label>
        </div>

        <div class="form-row">
          <button type="submit" class="btn btn-success">Log in</button>
        </div>

      </div>

      <a href="#" class="form-forgotten-password">Forgotten password
        &middot;</a> <a href="#" class="form-create-an-account">Create an
      account &rarr;</a>

    </div>


  </form>

</div>



